<!DOCTYPE html>
<html>
  <head>
    <title>StackOverflow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="container">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Stack-Overflow</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/questions">Questions</a></li>
          </ul>
        </div>

      </div>
    </nav>
    <div class="container">
      <% if flash[:notice]%>
      <%= flash[:notice] %>
      <% end %>
      <% if flash[:alert]%>
      <%= flash[:alert] %>
      <% end %>
      <% if current_user%>
      <%= current_user.email %>
      <% end %>
      <%= yield %>

    </div>
  </body>
</html>
